{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <h2 class="h1 text-center m-5">Index de gestion des utilisateurs</h2>

<div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
    <table class="table table-bordered table-condensed table-body-center">
        <thead>
            <tr class="text-center">
                <th>Adresse email</th>
                <th>Date de creation de l'utilisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="text-center">
                <td>{{ user.email }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">
                        <button class="btn btn-sm btn-primary">Détail <img src="{{ asset('img/detail.png') }}" alt=""></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur repertorié</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('admin_user_new') }}">
        <button class="btn btn-sm btn-primary">Creation d'un nouvelle utilisateur <img src="{{ asset('img/create.png') }}" alt=""></button></a>
{% endblock %}
