{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2>Photo de {{ city }}</h2>
    <div class="grid">

    {% for picture in pictures %}
        {% if picture.filename %}
            <div class="d-flex flex-wrap">
                <img class="arrowx" src="{{ asset('img/arrowx.png') }}" alt="" width="8%" height="8%">
                <a class="d-flex"
                   href="{{ path('profile_picture_show', {'id': picture.id , 'country': picture.country, 'city' : picture.city}) }}">
                    Voir les details de la photo
                </a>
                <a class="w-100" href="{{ vich_uploader_asset(picture, 'imageFile') }}">
                    <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="">
                    <div class="bubble-text">
                        <h3>{{ picture.title }}</h3>
                        <p>{{ picture.description }}...</p>
                        <em>{{ picture.author }} le {{ picture.dayOfTaking }}</em>
                    </div>
                </a>
            </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
