{% extends 'base.html.twig' %}

{% block title %}Les villes de france{% endblock %}

{% block body %}
    <div class="index__country">
        <div class="map__country">
            <h2> {{ country.name }}</h2>
            {% for city in cities %}
                <form action="{{ path('profile_picture_index', {'country':  city.country ,'city': city.name }) }}" method="get">
                    <button type="submit" class="btn btn-primary {{ city.name }}"> {{ city.name }}</button>
                </form>
            {% endfor %}
            <img src="../../{{ country.map}}" alt="">
        </div>
    </div>
{% endblock %}
