{% extends 'base.html.twig' %}

{% block title %}Hello AdminHomeController!{% endblock %}

{% block body %}
    <div class="admin-home text-center">
        <h2>Administration du site <em class="h5">(Page d'accueil)</em></h2>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="case-country col-md-5 m-3">
                    <a class="text-decoration-none" href="{{ path('admin_country_index') }}">
                        <h3 class="text-center font-weight-bold mt-3">Gestion des country</h3>
                        <img src="{{ asset('img/admin_country.png') }}" width="60%" alt=""></a>
                </div>
                <div class="case-city col-md-5 m-3">
                    <a class="text-decoration-none" href="{{ path('admin_city_index') }}">
                        <h3 class="text-center font-weight-bold mt-3">Gestion des villes</h3>
                        <img src="{{ asset('img/admin_city.png') }}" width="60%" alt=""></a>
                </div>
                <div class="case-picture col-md-5 m-3">
                    <a class="text-decoration-none" href="{{ path('admin_picture_index') }}">
                        <h3 class="text-center font-weight-bold mt-3">Gestion des photos</h3>
                        <img src="{{ asset('img/admin_picture.png') }}" width="90%" alt=""></a>
                </div>
                <div class="case-user col-md-5 m-3">
                    <a href="{{ path('admin_user_index') }}">
                        <h3 class="text-center font-weight-bold mt-3">Gestion des utilisateurs</h3>
                        <img src="{{ asset('img/admin_user.png') }}" width="60%" alt=""></a>
                </div>
                <div class="case-news col-md-5 m-3">
                    <a class="text-decoration-none" href="{{ path('admin_news_index') }}">
                        <h3 class="text-center font-weight-bold mt-3">Gestion des News</h3>
                        <img src="{{ asset('img/admin_news.png') }}" width="60%" alt=""></a>
                </div>
                <div class="case-comment col-md-5 m-3">
                    <a class="text-decoration-none" href="{{ path('admin_comment_index') }}">
                        <h3 class="text-center font-weight-bold mt-3">Gestion des Commentaires</h3>
                        <img src="{{ asset('img/admin_commentaires.png') }}" width="60%" alt=""></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
