{% extends 'base.html.twig' %}

{% block title %}Index de gestion des news{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Index de gestion des news</h1>

<div class="responsive-table-line" style="margin:0 auto;max-width:1700px;">
    <table class="table table-bordered table-condensed table-body-center">
        <thead>
            <tr class="text-center">
                <th scope="col">Titre de la news</th>
                <th scope="col">Contenu de la news</th>
                <th scope="col">Date de creation</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr class="text-center">
                <td>{{ news.title }}</td>
                <td>{{ news.content }}</td>
                <td>{{ news.createdAt ? news.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_news_delete', {'id': news.id}) }}">
                        <button class="btn btn-danger btn-sm">
                            Supprimer
                        </button></a>
                    <a href="{{ path('admin_news_edit', {'id': news.id}) }}">
                        <button class="btn btn-primary btn-sm">Éditer la news </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune news n'est publiée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a data-target="{{ path('admin_news_new') }}" data-tooltip="voir"
       class="tooltipped modal-trigger btn right-align"
       href="#modal1">
        <button class="btn btn-sm btn-primary">Créer une nouvelle news <img src="{{ asset('img/create.png') }}" alt=""></button></a>
    <div id="modal1" class="modal">
        <div class="container">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            //On écoute le "click" sur le bouton ayant la classe "modal-trigger"
            $('.modal-trigger').click(function () {
                //On initialise les modales materialize
                $('.modal').modal();
                //On récupère l'url depuis la propriété "Data-target" de la balise html a
                url = $(this).attr('data-target');
                //on fait un appel ajax vers l'action symfony qui nous renvoie la vue
                $.get(url, function (data) {
                    //on injecte le html dans la modale
                    $('.modal-content').html(data);
                    //on ouvre la modale
                    $('#modal1').modal();
                });
            })
        });
    </script>
{% endblock %}
