{% extends 'base.html.twig' %}

{% block title %}Picture index{% endblock %}

{% block body %}
    <h1>Picture index</h1>

    <a data-target="{{ path('admin_picture_new') }}" data-tooltip="voir"
       class="tooltipped modal-trigger btn right-align"
       href="#modal1">
        <button class="button-js btn">
            Inserer une nouvelle image
        </button>
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Images</th>
            <th>Titres</th>
            <th>Description</th>
            <th>Pays</th>
            <th>City</th>
            <th>Jour de la prise</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>
                    <a href="{{ vich_uploader_asset(picture, 'imageFile') }}">
                        <img src="{{ vich_uploader_asset(picture, 'imageFile')|imagine_filter('thumb') }}" alt="{{ picture.title }}" width="250" height="250">
                    </a>
                </td>
                <td>{{ picture.title }}</td>
                <td>{{ picture.description }}</td>
                <td>{{ picture.pays }}</td>
                <td>{{ picture.city }}</td>
                <td>{{ picture.dayOfTaking }}</td>
                <td>
                    <a data-target="{{ path('admin_picture_edit', {'id': picture.id}) }}" data-tooltip="voir"
                       class="tooltipped modal-trigger btn right-align"
                       href="#modal1">
                        <button class="button-js btn">
                            Éditer
                        </button>
                    </a>
                    {{ include('Admin/picture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="modal1" class="modal">
        <div class="container">
            <div class="modal-content p-5">

            </div>
        </div>
    </div>
{% endblock %}


