{{ form_start(form) }}
{{ form_row(form.email) }}
{{ form_row(form.lastname) }}
{{ form_row(form.firstname) }}
{{ form_row(form.password) }}
{{ form_row(form.confirmPassword) }}
<button type="submit" class="btn btn-sm button-primary">Commencer le voyage</button>
{{ form_end(form) }}

