<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">
    <script src="{{ asset('js/lightbox.js') }}" type="module" defer></script>
    <link rel="stylesheet" href="{{ asset('sass/style.css') }}">


    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block header %}
    {% include('layout/_header.html.twig') %}
{% endblock %}

<main class="container-fluid">
    <div class="row">
        {{ render(controller('App\\Controller\\LayoutBundleController::menuAction')) }}
        <div class="col-md-8 part-center">
            {% block body %}
            {% endblock %}
        </div>

        {% block sidebar_right %}
            {% include('layout/_sidebar_right.html.twig') %}
        {% endblock %}

    </div>
</main>

{% block footer %}
    {% include('layout/_footer.html.twig') %}
{% endblock %}

{% block javascripts %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    $('.button-cities').hide();
    $('.estouest').hide();
    $('.menu-ouest').hide();
    $('.menu-est').hide();
</script>
<script src="{{ asset('js/Popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
</body>
</html>
