    <div class="news_right">
        <h3 class="text-center">
            <img src="{{ asset('img/news_logo.png') }}" width="40%" alt="">
        </h3>
        {% for new in news %}
                <div class="body border">
                    <a class="text-decoration-none" href="{{ path('news', {'id' : new.id }) }}">
                    <h2 class="h4">{{ new.title }} <br><span>{{ new.createdAt | date('d/m/Y') }}</span></h2>
                    </a>
                    <p>{{ new.content }}</p>
                </div>
        {% endfor %}
    </div>