    {% if not is_granted("ROLE_ADMIN") %}
        <h2 class="font-weight-bold text-center m-3">Nos destinations</h2>
    <div class="container sticky-top">
        {% for country in countries %}
                <a class="text-decoration-none" href="{{ path('profile_country_index', {'name':  country.name }) }}">
                    <button type="submit" class="p-1 btn btn-primary w-100 d-flex justify-content-between">
                        <span class="h5">{{ country.name }}</span>
                        <img class="mt-auto mb-auto" width="35" height="35" src="../img/{{ country.name }}_logo.png"
                             alt="">
                    </button>
                </a>
        {% endfor %}
    </div>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="mt-5">
            <h2 class="font-weight-bold text-center">
                Administration
            </h2>
            <br>
            <div class="list-unstyled m-auto">
                    <a class="text-decoration-none" href="{{ path('admin_country_index') }}">
                        <button type="button" class="btn btn-primary w-100 d-flex justify-content-between">
                            <span class="h5">Gestion des pays</span>
                            <img src="{{ asset('img/admin_country.png') }}" width="15%" alt="">
                        </button>
                    </a>
                    <a class="text-decoration-none" href="{{ path('admin_city_index') }}">
                        <button class="btn btn-primary w-100 d-flex justify-content-between">
                            <span class="h5">Gestion des villes</span>
                            <img src="{{ asset('img/admin_city.png') }}" width="15%" alt="">
                        </button>
                    </a>
                    <a class="text-decoration-none" href="{{ path('admin_picture_index') }}">
                        <button class="btn btn-primary w-100 d-flex justify-content-between" >
                            <span class="h5">Gestion des photos</span>
                            <img src="{{ asset('img/admin_picture.png') }}" width="15%" alt="">
                        </button>
                    </a>
                    <a class="text-decoration-none" href="{{ path('admin_comment_index') }}">
                        <button class="btn btn-primary w-100 d-flex justify-content-between" >
                            <span class="h5">Gestion des commentaires</span>
                            <img src="{{ asset('img/admin_commentaires.png') }}" width="15%" alt="">
                        </button>
                    </a>
                    <a class="text-decoration-none" href="{{ path('admin_user_index') }}">
                        <button class="btn btn-primary w-100 d-flex justify-content-between">
                            <span class="h5">Gestion des utilisateurs</span>
                            <img src="{{ asset('img/admin_user.png') }}" width="15%" alt="">
                        </button>
                    </a>
                    <a class="text-decoration-none" href="{{ path('admin_news_index') }}">
                        <button class="btn btn-primary w-100 d-flex justify-content-between">
                            <span class="h5">Gestion des news</span>
                            <img src="{{ asset('img/admin_news.png') }}" width="15%" alt="">
                        </button>
                    </a>
            </div>
        </div>
    {% endif %}

