    <div class="news">
        <h3 class="text-center">
            <img src="{{ asset('img/news_logo.png') }}" width="40%" alt="">
        </h3>
        {% for new in news %}
                <div class="body border">
                    <a href="{{ path('profile_country_index', {'name': new.city.country}) }}">
                    <h4>{{ new.title }} <em>{{ new.createdAt | date('d/m/Y H:i:s') }}</em></h4></a>
                    <p>{{ new.content }}</p>
                </div>
        {% endfor %}
    </div>